---
import Layout from '@layouts/Layout.astro'
import data from '@db/rankings.json'

interface Props {
  division: string
}

export function getStaticPaths() {
  const params = data.map((division) => {
    const { id, categoryName, champion, fighters } = division
    const { id: championId, championName } = champion
    return { params: { division: id }, props: { categoryName, championId, championName, fighters } }
  })

  return params
}

const { division } = Astro.params
const { categoryName, championId, championName, fighters } = Astro.props
---

<Layout title={categoryName}>
  <main>
    <h1>Division: {categoryName}</h1>

    <h2>List of fighters</h2>
    <ul>
      {
        fighters.map(({ id, name }, index) => (
          <li class='card'>
            <span>{index === 0 ? '👑' : index}</span> <a href={`/athlete/${id}`}>{name}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: -var(--size-spacing-2);
  }
  h1 {
    font-size: 3rem;
  }
  a {
    font-weight: 600;
    width: fit-content;
  }
  .image-container {
    height: 300px;
  }
  img {
    aspect-ratio: 460 / 700;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
  }
  li {
    font-size: 1.4rem;
  }
  li span {
    display: inline-block;
    text-align: center;
    width: 4ch;
    color: rgb(33, 0, 132);
  }
</style>
