---
import Layout from '../../layouts/Layout.astro'
import data from '../../../db/rankings.json'

interface Props {
  athlete: string
}

const navigationLinks = data.map(({ id, categoryName }) => {
  return { route: `division/${id}`, label: categoryName }
})
---

<Layout title='Divisions index | UFC API'>
  <main>
    <a href='/'>Return to home</a>
    <h1>Divisions list</h1>
    <ul>
      {
        navigationLinks.map(({ route, label }) => (
          <li>
            <a href={route}>{label}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
  }
</style>
