---
import Layout from '@layouts/Layout.astro'
import DivisionCard from '@components/DivisionCard.astro'
---

<Layout
  title='Divisions'
  description='MMA current divisions list.'
>
  <main>
    <section>
      <h1>Divisions</h1>
      <h2>Men's and women's rankings</h2>
    </section>
    <DivisionCard />
  </main>
</Layout>

<style>
  section {
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    color: var(--color-title);
  }

  h2 {
    color: var(--color-subtitle);
  }
</style>
