/* Sizes */
:root {
  --border-radius: 5px;
  --section-width: 90%;
}

@media only screen and (min-width: 48rem) {
  :root {
    --section-width: 75%;
  }
}

@media only screen and (min-width: 64rem) {
  :root {
    --section-width: 65%;
  }
}

/* Color palette */
:root {
  --color-blue-50: #d6f8ff;
  --color-blue-100: #b3f2ff;
  --color-blue-200: #61e5ff;
  --color-blue-300: #14d8ff;
  --color-blue-400: #00a2c2;
  --color-blue-500: #005f73;
  --color-blue-600: #004d5c;
  --color-blue-700: #003c47;
  --color-blue-800: #00262e;
  --color-blue-900: #001519;
  --color-blue-950: #00090a;

  --color-light-1: #f7f7f7;
  --color-light-2: #dcdcdc;
  --color-light-3: #aaaaaa;
  --color-light-4: #484848;

  --color-dark-1: #0c0a09;
  --color-dark-2: #1c1c1c;
  --color-dark-3: #3d3d3d;
  --color-dark-4: #b6b6b6;

  --bg-transparent: #00000020;
}

/* Theme */
:root {
  color-scheme: light;

  --font-weight-regular: 350;
  --font-weight-bold: 600;

  --color-accent-1: var(--color-blue-800);
  --color-accent-2: var(--color-blue-400);
  --color-accent-3: var(--color-blue-300);
  --color-accent-4: var(--color-blue-100);

  --color-primary-1: var(--color-light-1);
  --color-primary-2: var(--color-light-2);
  --color-primary-3: var(--color-light-3);
  --color-primary-4: var(--color-light-4);
  --color-primary-inverse-1: var(--color-dark-1);
  --color-primary-inverse-2: var(--color-dark-2);
  --color-primary-inverse-3: var(--color-dark-3);
  --color-primary-inverse-4: var(--color-dark-4);

  --color-title: var(--color-dark-1);
  --color-subtitle: var(--color-dark-2);

  --bg-color-menu-mobile: var(--color-accent-4);

  --color-table-border: var(--color-accent-2);
  --color-table-code: var(--color-accent-3);
  --color-table-head: var(--color-accent-3);

  --bg-gradient-1: linear-gradient(0deg, var(--color-blue-50) 0%, var(--color-blue-100) 100%);
  --bg-gradient-2: linear-gradient(45deg, var(--color-blue-200) 0%, var(--color-blue-600) 100%);

  --outline-focus-visible: 3px solid var(--color-accent-2);
}

.theme-dark {
  color-scheme: dark;

  --font-weight-regular: 300;
  --font-weight-bold: 700;

  --color-accent-1: var(--color-blue-500);
  --color-accent-2: var(--color-blue-600);
  --color-accent-3: var(--color-blue-800);
  --color-accent-4: var(--color-blue-900);

  --color-primary-1: var(--color-dark-1);
  --color-primary-2: var(--color-dark-2);
  --color-primary-3: var(--color-dark-3);
  --color-primary-4: var(--color-dark-4);
  --color-primary-inverse-1: var(--color-light-1);
  --color-primary-inverse-2: var(--color-light-2);
  --color-primary-inverse-3: var(--color-light-3);
  --color-primary-inverse-4: var(--color-light-4);

  --color-title: var(--color-light-1);
  --color-subtitle: var(--color-light-2);

  --bg-color-menu-mobile: var(--color-accent-3);

  --color-table-border: var(--color-accent-1);
  --color-table-code: var(--color-accent-3);
  --color-table-head: var(--color-accent-4);

  --bg-gradient-1: linear-gradient(0deg, var(--color-blue-700) 0%, var(--color-blue-900) 100%);
  --bg-gradient-2: linear-gradient(45deg, var(--color-blue-600) 0%, var(--color-blue-400) 100%);
}
