/* Sizes */
:root {
  --section-width: 90%;
}

@media only screen and (min-width: 48rem) {
  :root {
    --section-width: 75%;
  }
}

@media only screen and (min-width: 64rem) {
  :root {
    --section-width: 65%;
  }
}

/* Colors */
:root {
  color-scheme: light;

  --color-title: var(--color-primary-dark-7);
  --color-subtitle: var(--color-primary-dark-5);
  --background-gradient: linear-gradient(0deg, #fdf5e6 0%, #fae1b3 100%);
  --color-gradient-1: linear-gradient(45deg, #001c22 0%, #005668 100%);

  --color-primary-base: #005f73;
  --color-primary-dark-1: #005668;
  --color-primary-dark-2: #004c5c;
  --color-primary-dark-3: #004351;
  --color-primary-dark-4: #003945;
  --color-primary-dark-5: #00303a;
  --color-primary-dark-6: #00262e;
  --color-primary-dark-7: #001c22;
  --color-primary-dark-8: #001317;
  --color-primary-dark-9: #00090b;
  --color-primary-light-1: #1a6f81;
  --color-primary-light-2: #337f8f;
  --color-primary-light-3: #4d8f9d;
  --color-primary-light-4: #669fab;
  --color-primary-light-5: #80afb9;
  --color-primary-light-6: #99bfc7;
  --color-primary-light-7: #b3cfd5;
  --color-primary-light-8: #ccdfe3;
  --color-primary-light-9: #e6eff1;
}

.theme-dark {
  color-scheme: dark;
  --color-text-1: #e4e4e4;
  --color-main-1: #5d28c8;
  --color-main-2: #4e216e;
  --color-main-3: #1d052f;

  --color-title: var(--color-primary-light-7);
  --color-subtitle: var(--color-primary-light-5);

  --background-gradient: linear-gradient(
    0deg,
    var(--color-primary-dark-3) 0%,
    var(--color-primary-dark-7) 100%
  );
}
