---
import Layout from '@layouts/Layout.astro'
import AthleteFilter from '@components/AthleteFilter'

interface Props {
  athlete: string
}
---

<Layout title='Athletes'>
  <main>
    <h1>Athlete list</h1>
    <AthleteFilter client:visible />
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
  }
</style>
