---
import Layout from '@/layouts/Layout.astro'
import AthleteFilter from '@/components/AthleteFilter.svelte'
---

<Layout
  title='Athletes'
  description='MMA current athlete list. Search by name and sort them by information.'
>
  <main>
    <h1>Athlete list</h1>
    <AthleteFilter client:only='svelte' />
  </main>
</Layout>

<style>
  h1 {
    margin-bottom: 1rem;
  }

  main {
    gap: 1rem;
  }

  @media (width < 48rem) {
    main {
      --section-width: 100%;
    }
  }
</style>
