---
import Layout from '@layouts/Layout.astro'
---

<Layout title='About'>
  <main>
    <h1>About</h1>
    <article>
      <p>
        This is an open source project, created by a group of developers who love MMA. It is not
        monetized.
      </p>
      <p>
        Our purpouse is to provide a free and fast API from this popular sport. There were lots of
        APIs for everything you can imagine, except MMA. That's the reason we created <strong
          >Octagon API.
        </strong>
      </p>
      <p>
        Now, MMA fan developers can create their own projects with their favourite fighters
        information, bringing a breath of fresh air to the common API based projects.
      </p>
      <p>
        If you want to collaborate, <a
          href='https://github.com/victor-lillo/octagon-api'
          target='_blank'
          rel='noopener noreferrer'
        >
          visit the repository here</a
        >.
      </p>
    </article>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
  }
  article {
    max-width: 70ch;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.4rem;
  }

  p {
    text-wrap: pretty;
  }

  a {
    text-decoration: underline;
  }
</style>
