---
import Layout from '@/layouts/Layout.astro'
import newsData from '@db/news.json'
import NewsCard from '@/components/NewsCard.astro'
import type { News } from '@/types/news'

// Ordered by current position
const orderedData = newsData.sort((a, b) => {
  return a.currentPosition - b.currentPosition
}) as unknown as News[]
---

<Layout
  description='Octagon API, the ultimate web for checking the latest MMA news, athletes, divisions and stats'
>
  <main>
    <h1>Welcome to <span class='text-gradient'>Octagon API</span></h1>
    <h2 class='subtitle'>News</h2>
    <section>
      {
        orderedData.map((fighterData, index) => (
          <NewsCard
            {...fighterData}
            index={index}
          />
        ))
      }
    </section>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--color-title);
  }

  h2 {
    color: var(--color-subtitle);
  }

  section {
    display: grid;
    width: 100%;
    gap: 1rem;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
    justify-content: center;
  }
</style>
<script is:inline>
  console.log('🥊 Welcome to the Octagon API')
</script>
