---
import Logo from './Logo.astro'

const navigationLinks = [
  {
    label: 'Athletes',
    route: '/athlete',
  },
  {
    label: 'Divisions',
    route: '/division',
  },
  {
    label: 'About',
    route: '/about',
  },
]
---

<header class='navbar'>
  <nav class='navbar__container'>
    <a href='/'>
      <Logo />
    </a>
    {
      navigationLinks.map(({ label, route }) => (
        <a
          class='navbar__anchor'
          href={route}
        >
          {label}
        </a>
      ))
    }
  </nav>
</header>
<style>
  .navbar {
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    position: sticky;
    top: 0;
    transform: scaleZ(1);
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 9;
  }
  .navbar__container {
    width: var(--section-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__anchor {
    font-size: 1.4rem;
  }

  .logo {
    width: 4rem;
  }
</style>
