---
export interface Props {
  wins: string
  losses: string
  draws: string
}
const { wins, losses, draws } = Astro.props

const nwins = parseInt(wins)
const nlosses = parseInt(losses)
const ndraws = parseInt(draws)

const TOTAL_PERCENTAGE = 100
const total_fights = nwins + nlosses + ndraws

const unit_value = TOTAL_PERCENTAGE / total_fights
const wins_bar_height = unit_value * nwins
const losses_bar_height = unit_value * nlosses
const draws_bar_height = unit_value * ndraws
---

<section class='chart'>
  <div class='stat-container'>
    <div
      class='bar bar--wins'
      style={{ '--bar-height': wins_bar_height + '%' }}
    >
    </div>
    <div class='number'>{wins}</div>
  </div>
  <div class='stat-container'>
    <div
      class='bar bar--losses'
      style={{ '--bar-height': losses_bar_height + '%' }}
    >
    </div>
    <div class='number'>{losses}</div>
  </div>
  <div class='stat-container'>
    <div
      class='bar bar--draws'
      style={{ '--bar-height': draws_bar_height + '%' }}
    >
    </div>
    <div class='number'>{draws}</div>
  </div>
</section>

<style>
  .chart {
    display: flex;
    gap: 0.3rem;
    background-color: #ffffff4c;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .stat-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
  }
  .number {
    text-align: center;
    font-weight: 600;
    color: white;
  }
  .bar {
    width: 30px;
    border-radius: 5px 5px 0 0;
  }
  .bar--wins {
    height: var(--bar-height);
    background: #fb861a;
    background: linear-gradient(59deg, #fb861a 0%, #fca14d 50%, #fdbc80 100%);
  }
  .bar--losses {
    height: var(--bar-height);
    background: #1a47fb;
    background: linear-gradient(59deg, #1a47fb 0%, #4d70fc 50%, #8099fd 100%);
  }
  .bar--draws {
    height: var(--bar-height);
    background: #d7d7d7;
    background: linear-gradient(59deg, #d7d7d7 0%, #e0e0e0 50%, #e9e9e9 100%);
  }
  @media only screen and (min-width: 768px) {
    .chart {
      gap: 0.8rem;
      padding: 1rem 2rem;
    }
    .bar {
      width: 35px;
    }
  }
</style>
