---
import type { MarkdownLayoutProps } from 'astro'
import '@/styles/markdown.css'
import Layout from '@/layouts/Layout.astro'

type Props = MarkdownLayoutProps<{
  title: string
  description: string
  variant?: 'post'
}>

const { frontmatter } = Astro.props

const { title, description, variant } = frontmatter
---

<Layout
  title={title}
  description={description}
>
  <main class:list={['md', { [`${variant}`]: variant }]}>
    <slot />
  </main>
</Layout>

<style>
  main {
    width: var(--section-width);
  }

  .post {
    max-width: 70ch;
  }
</style>
